

<div class="container">
<div class="row mt-3" >
  <span class="pull-right">
    <img
     [src]="item.owner.avatar_url"
      alt="{{ item.name }}"
      class="img-fluid"
      style="height: 180px;">
  </span>
  <div class="col-md-9 ml-4 mt-4">
    <h4 class="list-group-item-heading">{{ item.name }}</h4>
    <p class="list-group-item-text">{{ item.description }}</p>
    <div class="row">
    <span class="badge badge-secondary mb-1 mr-2 col-md-2"> stars : {{item.stargazers_count}}</span>
    <span class="badge badge-secondary mb-1 mr-2 col-md-2"> Issues : {{item.open_issues}}</span>
    <h6 class="col-md-7">Submitted {{daysCalcule()}} days ago by {{ item.name }}</h6>
    </div>    
  
    
  </div>
</div>
</div>

